<div class="content-imagelist-style-add">
    <p class="title">
        banner->增加
    </p>

    <form action="__URL__/home?type_link=banner&action=add" method="post" enctype="multipart/form-data">
        <div>
            <p class="name-container">名称:<input type="text" name="name" value=""/></p>
            <p class="name-container">链接地址:<input type="text" name="link_url" value=""/></p>
            <p class="showHide-container">
                是否显示:
                <select class="showHide" name="showHide">
                    <option value="1">显示</option>
                    <option value="0">隐藏</option>
                </select>
            </p>
            <div class="fileList" id="fileList">
                <p class="title">添加图片:<input type="file" name="image" id="xdaTanFileImg" onchange="xmTanUploadImg(this)"/></p>
                <div class="preview-list" id="preview-list"></div>
            </div>

            <input type="submit" name="submit" class="submit" value="提交"/>
        </div>
    </form>
</div>