<div class="content-type">
    <p class="title">
        <?php if($_GET['type_link'] == 'style'){ ?>
        风格
        <?php }else if($_GET['type_link'] == 'space'){ ?>
        空间
        <?php }?>
    </p>

    <?php
        $type = $_GET['type_link'];
    ?>

    <table width="400px" border="0" cellspacing="0" cellpadding="0" >
        <tr>
            <td>id</td>
            <td>名字</td>
            <td>优先级</td>
            <td>修改时间</td>
            <td>编辑</td>
            <td>删除</td>
        </tr>
        <foreach name="list" item="result">
            <tr>
                <td>{$result.id}</td>
                <td>{$result.show_name}</td>
                <td>{$result.show_order}</td>
                <td>{$result.modify_time|date='Y-m-d',###}</td>
                <td>
                    <input type="submit" name="submit" value="名字" onclick="modifyStyleName('<?=$type?>', '{$result.id}', '{$result.show_name}')">
                    <input type="submit" name="submit" value="优先级" onclick="modifyStyleOrder('<?=$type?>', '{$result.id}', '{$result.show_order}')">
                </td>
                <td><input type="submit" name="submit" value="删除" onclick="deleteStyle('<?=$type?>', '{$result.id}', '{$result.show_name}')"></td>
            </tr>
        </foreach>
    </table>

    <?php
        if($_GET['type_link'] == 'style'){
            $formAction = "__URL__/home?type_link=style&handle=add";
        }else if($_GET['type_link'] == 'space'){
            $formAction = "__URL__/home?type_link=space&handle=add";
        }
    ?>
    <form method="post" action="<?=$formAction?>">
        <div>
            <input type="text" name="name" class="inputType" placeholder="输入分类"/>
            <select class="order" name="order">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
            <input type="submit" name="submit" class="submitType" value="添加"/>
        </div>
    </form>

</div>