<div class="content-style">
    <p class="title">空间分类</p>
    <table width="400px" border="0" cellspacing="0" cellpadding="0" >
        <tr>
            <td>id</td>
            <td>名字</td>
            <td>修改时间</td>
            <td>编辑</td>
            <td>删除</td>
        </tr>
        <tr>
            <td>1</td>
            <td>美式</td>
            <td>2017-11-9</td>
            <td><a href="#">编辑</a></td>
            <td><a href="#">删除</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>北欧</td>
            <td>2017-12-9</td>
            <td><a href="#">编辑</a></td>
            <td><a href="#">删除</a></td>
        </tr>
    </table>

    <form method="post" action="">
        <div>
            <input type="text" name="add_style" placeholder="输入分类">
            <input type="submit" name="submit" value="新增">
        </div>
    </form>

</div>