<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>登录界面</title>
</head>

<body>
    <form action="__URL__/admin" method="post">
        <tr>
            <td colspan="3" width="242" height="99">
                <div>用户名：<input class="user" type="text" name="text"></div>
                <br>
                <div>密&nbsp;&nbsp;码：<input class="pwd" type="password" name="pwd"></div>
                <br>
            </td>
        <tr>
            <td width="106" height="41">
                <input class="buttonSub" type="submit" value=""></td>
        </tr>
    </form>
</body>
</html>






