<div class="left-slide">
    <div class="type-manage">图片管理</div>
    <ul class="type-manage-list">
        <li class="style">
            <a href="__URL__/home?type_link=imagelist-style&handle=show">风格</a>
        </li>
        <li class="space">
            <a href="__URL__/home?type_link=imagelist-space&handle=show">空间</a>
        </li>
        <li class="all">
            <a href="__URL__/home?type_link=imagelist-all&handle=show">全部</a>
        </li>
    </ul>

    <div class="type-manage">首页管理</div>
    <ul class="type-manage-list">
        <li class="style">
            <a href="__URL__/home?type_link=banner&handle=show">banner</a>
        </li>
    </ul>
</div>