<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/login.css">
</head>
<body>

<div class="login-container">
    <form action="__URL__/checkLogin" method="post">
        <div>
            <h4 class="title">馨家后台管理系统</h4>
            <input class="username" type="text" placeholder="用户名" name="text"/>
            <input class="pwd" type="password" placeholder="密码" name="pwd"/>
            <input class="submit" type="submit" value="登录">
        </div>

    </form>

</div>

</body>
</html>