a{
    text-decoration: none;
    color: #000000;
}

.login-container{
    border: 1px solid #aaaaaa;
    width: 350px;
    height: 250px;
    margin: 0 auto;
    margin-top: 150px;
}

.register-container{
    border: 1px solid #aaaaaa;
    width: 350px;
    height: 300px;
    margin: 0 auto;
    margin-top: 150px;
}

.login-container .title{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.login-container .username{
    margin: 0 auto;
    height: 30px;
    border-radius: 2px;
    display: block;
    width: 180px;
    margin-top: 10px;
    background-color: #ffffff;
}

.login-container .pwd{
    margin: 0 auto;
    height: 30px;
    width: 180px;
    display: block;
    border-radius: 2px;
    margin-top: 10px;
    background-color: #ffffff;
}


.login-container .msg{
    /*display: none;*/
    height: 18px;
    font-size: 14px;
    color: #e76a55;
    margin-left: 80px;
    margin-top: 5px;
}

.login-container .submit{
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    height: 40px;
    width: 185px;
    border-radius: 1px;
    font-size: 18px;
    background-color: #1289d2;
    color: #ffffff;
}

.login-container a{
    text-align: center;
    margin-top: 10px;
    display: block;
    font-size: 16px;
    color: #1289d2;
}


