
<footer>
    <div class="container-fluid foot-middle">
        <div class="container">
            <div class="foot-four foot-middle-left">
                <h4>爱福窝 让装修变简单</h4>
                <a href="http://47.92.133.126/" target="_blank">关于我们</a>|
                <a href="http://47.92.133.126/" target="_blank">媒体报道</a>|
                <a href="http://47.92.133.126/" target="_blank">商务合作</a>|
                <a href="http://47.92.133.126/" target="_blank">法律声明</a>|
                <a href="http://47.92.133.126/" target="_blank">联系我们</a><br>
                反馈建议：<a href="mailto:wangyalei912@126.com">wangyalei912@126.com</a><br>
                客服电话：13126562961
            </div>

            <div class="foot-four foot-middle-middle">
                <h4>热门标签</h4>
                <a href="http://47.92.133.126/">客厅背景墙</a>
                <a href="http://47.92.133.126/">装修设计</a>
                <a href="http://47.92.133.126/">交换空间</a>
                <a href="http://47.92.133.126/">小户型装修</a>
                <a href="http://47.92.133.126/">新房装修</a>
                <a href="http://47.92.133.126/">家居咨询</a>
                <a href="http://47.92.133.126/">装修问答</a>
                <a href="http://47.92.133.126/">装修问答</a>
            </div>

            <div class="foot-middle-right">
                <img class="margin-left-4" src="index_files/appdownload.png"><br>
                扫码下载爱福窝装修app
            </div>
        </div>
    </div>

    <div class="container-fluid foot-bottom">
        <div class="container">
            <div class="link js-footer-link">
                <em class="link-label">合作网站:</em>
                <span><a href="http://47.92.133.126/" target="_blank">手机版</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">装修设计</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">土巴兔设计网</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">法律咨询</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">家居市场</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">海鲜市场</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">大排档市场</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">绿色市场</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">秋天颜色</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">缓缓名本</a> |&nbsp;</span>
            </div>
        </div>
    </div>
</footer>