<header class="header-top-height fixed" id="home-header">
    <div class="header-nav-fixed">
        <div class="header-nav-content">
            <div class="nav-header-logo"><a href="http://47.92.133.126/">
                <img src="__ROOT__/Public/images/logo.png"></a>
            </div>
            <ul class="nav-list">
                <li class="navitem active"><a href="http://47.92.133.126/">首页</a><span></span></li>
                <li class="navitem free">
                    <a href="http://47.92.133.126/">设计与报价<i class="down"></i></a><span></span>
                    <ul class="sub-nav">
                        <li><a href="http://47.92.133.126/">免费量房设计</a></li>
                        <li><a href="http://47.92.133.126/">智能在线报价</a></li>
                        <li><a href="http://47.92.133.126/">免费验房</a></li>
                        <li><a href="http://47.92.133.126/">免费监理</a></li>
                    </ul>
                </li>
                <li class="navitem">
                    <a href="http://47.92.133.126/">装修保障</a><span></span>
                </li>
                <li class="navitem"><a href="http://47.92.133.126/">装修公司</a></li><span></span>
                <li class="navitem"><a href="http://47.92.133.126/">效果图</a></li>
                <li class="navitem">
                    <a href="http://47.92.133.126/">装修学堂<i class="down"></i></a><span></span>
                    <ul class="sub-nav decoration-classroom">
                        <li><a href="http://47.92.133.126/">装修攻略</a></li>
                        <li><a href="http://47.92.133.126/">社区</a></li>
                        <li><a href="http://47.92.133.126/">找小区</a></li>
                    </ul>
                </li>
                <li class="navitem">
                    <a href="http://47.92.133.126/" target="_blank">下载app</a><span></span>
                    <ul class="sub-nav rightLing">
                        <li class="img-con">
                            <a href="http://47.92.133.126/">
                                <img alt="" src="__ROOT__/Public/images/header-downlaod.png">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>