<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta content="IE=edge,Chrome=1" http-equiv="X-UA-Compatible">
    <meta content="webkit" name="renderer">
    <title>馨家装饰</title>
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/base.css">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/newhome.css">
    <script type="text/javascript" src="__ROOT__/Public/js/jquery.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/banner.js"></script>
</head>
<body>
<header class="header-top-height fixed" id="home-header">
    <div class="header-nav-fixed">
        <div class="header-nav-content">
            <div class="nav-header-logo"><a href="http://47.92.133.126/">
                <img src="__ROOT__/Public/images/logo.png"></a>
            </div>
            <ul class="nav-list">
                <li class="navitem active"><a href="http://47.92.133.126/">首页</a><span></span></li>
                <li class="navitem free">
                    <a href="http://47.92.133.126/">设计与报价<i class="down"></i></a><span></span>
                    <ul class="sub-nav">
                        <li><a href="http://47.92.133.126/">免费量房设计</a></li>
                        <li><a href="http://47.92.133.126/">智能在线报价</a></li>
                        <li><a href="http://47.92.133.126/">免费验房</a></li>
                        <li><a href="http://47.92.133.126/">免费监理</a></li>
                    </ul>
                </li>
                <li class="navitem">
                    <a href="http://47.92.133.126/">装修保障</a><span></span>
                </li>
                <li class="navitem"><a href="http://47.92.133.126/">装修公司</a></li><span></span>
                <li class="navitem"><a href="http://47.92.133.126/">效果图</a></li>
                <li class="navitem">
                    <a href="http://47.92.133.126/">装修学堂<i class="down"></i></a><span></span>
                    <ul class="sub-nav decoration-classroom">
                        <li><a href="http://47.92.133.126/">装修攻略</a></li>
                        <li><a href="http://47.92.133.126/">社区</a></li>
                        <li><a href="http://47.92.133.126/">找小区</a></li>
                    </ul>
                </li>
                <li class="navitem">
                    <a href="http://47.92.133.126/" target="_blank">下载app</a><span></span>
                    <ul class="sub-nav rightLing">
                        <li class="img-con">
                            <a href="http://47.92.133.126/">
                                <img alt="" src="__ROOT__/Public/images/header-downlaod.png">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="empty-box"></div>
<section class="" id="section">
    <section class="gray-bg">
        <div class="banner swiper-container-horizontal" id="banner">
            <ul class="swiper-wrapper">
                <li class="swiper-slide" data-swiper-slide-index="0">
                    <a href="http://www.fuwo.com/sheji.html">
                        <img src="__ROOT__/Public/images/banner1.jpg">
                    </a>
                </li>
                <li class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1">
                    <a href="http://www.fuwo.com/baojia/">
                        <img src="__ROOT__/Public/images/banner1.jpg">
                    </a>
                </li>
                <li class="swiper-slide swiper-slide-active" data-swiper-slide-index="2">
                    <a href="http://www.fuwo.com/server/">
                        <img src="__ROOT__/Public/images/banner1.png">
                    </a>
                </li>
                <li class="swiper-slide swiper-slide-next" data-swiper-slide-index="3">
                    <a href="http://3d.fuwo.com/">
                        <img src="__ROOT__/Public/images/banner1.jpg">
                    </a>
                </li>
            </ul>
            <!--<button class="banner-ctrl-btn banner-prev">〈</button>-->
            <!--<button class="banner-ctrl-btn banner-next">〉</button>-->
            <!--<div class="banner-pagination swiper-pagination-clickable swiper-pagination-bullets">-->
            <!--<span class="banner-pagination-item"></span>-->
            <!--<span class="banner-pagination-item"></span>-->
            <!--<span class="banner-pagination-item active"></span>-->
            <!--<span class="banner-pagination-item"></span>-->
            <!--</div>-->
            <ul class="bottom_button">
                <li class="now"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="compute-price-con">
            <p class="compute-price-title">免费装修报价<span>今日已为88人提供服务</span></p>
            <form id="compute-price-form" novalidate="novalidate">
                <div class="form-item">
                    <select class="select-box province-select" id="invite-province-select" name="provinceId">
                        <option value="">省/市</option>
                        <option value="10" name="安徽">A 安徽</option>
                        <option value="12" name="北京">B 北京</option>
                        <option value="13" name="重庆">C 重庆</option>
                        <option value="14" name="福建">F 福建</option>
                        <option value="17" name="广西">G 广西</option>
                        <option value="18" name="贵州">G 贵州</option>
                        <option value="16" name="广东">G 广东</option>
                    </select>
                </div>
                <div class="form-item">
                    <select class="select-box city-select" id="invite-city-select" name="cityId">
                        <option value="">市/郊区</option>
                    </select>
                </div>
                <div class="form-item area-size" style="position: relative;">
                    <input class="input-size" name="size" placeholder="建筑面积" type="text">
                    <em class="pingfang" style="position: absolute;right: 5px;top: 8px;color: #666;">m2</em>
                </div>
                <div class="form-item phone-num"><input class="input-phone" name="mobile" placeholder="输入手机号，获取报价结果" type="text"></div>
                <a class="btn compute-btn" href="javascripte:;">计算</a>
            </form>
        </div>
        <div class="home-container">
            <ul class="baojia-service">
                <li>
                    <a href="http://www.fuwo.com/sheji.html">
                        <img alt="" src="__ROOT__/Public/images/design_ic.png">
                        <div class="service-info">
                            <h5>免费设计</h5>
                            <span>获取专业设计方案</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://www.fuwo.com/baojia/">
                        <img alt="" src="__ROOT__/Public/images/offer_ic.png">
                        <div class="service-info">
                            <h5>免费报价</h5>
                            <span>算算装修要花多少钱</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://www.fuwo.com/server/">
                        <img alt="" src="__ROOT__/Public/images/guarantee_ic.png">
                        <div class="service-info">
                            <h5>装修保障</h5>
                            <span>省事省心省钱</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://www.fuwo.com/server/#supervisionService">
                        <img alt="" src="__ROOT__/Public/images/housekeeper_ic.png">
                        <div class="service-info">
                            <h5>免费监理</h5>
                            <span>管家式监理服务</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <div class="white-bg">
        <div class="find-zhuangxiu-con">
            <p class="findZX-title">严选优质装修公司</p>
            <p class="findZX-info">5大标准，层层筛选，五万业主口碑推荐</p>
            <div class="findZX-company">
                <ul class="company-list">
                    <li class="company-item">
                        <a class="company-link" href="http://47.92.133.126/">
                            <img class="company-img" src="__ROOT__/Public/images/shiyue2.jpg">
                            <div class="company-logo">
                                <img src="__ROOT__/Public/images/company-logo.jpg">
                            </div>
                            <div class="company-info">
                                <div class="company-name">石悦设计装饰</div>
                                <div class="company-performance">案例 1200套 1111评价</div>
                                <a class="link-design J-Pop-Order" data-listid="" data-pageid="150001" href="javascript:;">预约免费设计</a>
                            </div>
                        </a>
                    </li>
                    <li class="company-item">
                        <a class="company-link" href="http://47.92.133.126/">
                            <img class="company-img" src="__ROOT__/Public/images/shiyue2.jpg">
                            <div class="company-logo">
                                <img src="__ROOT__/Public/images/company-logo.jpg">
                            </div>
                            <div class="company-info">
                                <div class="company-name">石悦设计装饰</div>
                                <div class="company-performance">案例 1200套 1111评价</div>
                                <a class="link-design J-Pop-Order" data-listid="" data-pageid="150001" href="javascript:;">预约免费设计</a>
                            </div>
                        </a>
                    </li>
                    <li class="company-item">
                        <a class="company-link" href="http://47.92.133.126/">
                            <img class="company-img" src="__ROOT__/Public/images/shiyue2.jpg">
                            <div class="company-logo">
                                <img src="__ROOT__/Public/images/company-logo.jpg">
                            </div>
                            <div class="company-info">
                                <div class="company-name">石悦设计装饰</div>
                                <div class="company-performance">案例 1200套 1111评价</div>
                                <a class="link-design J-Pop-Order" data-listid="" data-pageid="150001" href="javascript:;">预约免费设计</a>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="decoration-company">
            <div class="decoration-company-container">
                <h3>热门装修公司</h3>
                <div class="company-logo-list">
                    <ul>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="grey-bg">
        <div class="server-step">
            <p class="server-title">服务流程</p>
            <img class="server-step-img" src="__ROOT__/Public/images/server-step.png">
        </div>
    </section>
    <section class="image-parent">
        <div class="view-con">
            <p class="view-title">海量装修效果</p>
            <p class="view-info">户型风格自由搭配 90%业主的选择</p>
            <ul class="view-nav">
                <li class="view-nav-li">
                    <a href="http://47.92.133.126/">简欧</a>
                </li>
                <li class="view-nav-li">
                    <a href="http://47.92.133.126/">美式</a>
                </li>
                <li class="view-nav-li">
                    <a href="http://47.92.133.126/">北欧</a>
                </li>
                <li class="view-nav-li">
                    <a href="http://47.92.133.126/">现代</a>
                </li>
                <li class="view-nav-li">
                <li class="view-nav-li view-nav-margin0"><a href="http://www.fuwo.com/">全部美图</a></li>
                </li>
            </ul>
            <div class="view-item">
                <ul class="view-list">
                    <li class="item">
                        <a class="hover" href="http://47.92.133.126/" rel="nofollow">
                            <img class="lazy" data-lazyload="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg"
                                    src="__ROOT__/Public/images/placeholder.jpg">
                            <img alt="" class="translate" src="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg">
                        </a>
                        <div class="design-info">
                            <a href="http://47.92.133.126/">别致流金岁月</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="hover" href="http://47.92.133.126/" rel="nofollow">
                            <img class="lazy" data-lazyload="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg"
                                    src="__ROOT__/Public/images/placeholder.jpg">
                            <img alt="" class="translate" src="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg">
                        </a>
                        <div class="design-info">
                            <a href="http://47.92.133.126/">别致流金岁月</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="hover" href="http://47.92.133.126/" rel="nofollow">
                            <img class="lazy" data-lazyload="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg"
                                    src="__ROOT__/Public/images/placeholder.jpg">
                            <img alt="" class="translate" src="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg">
                        </a>
                        <div class="design-info">
                            <a href="http://47.92.133.126/">别致流金岁月</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="hover" href="http://47.92.133.126/" rel="nofollow">
                            <img class="lazy" data-lazyload="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg"
                                    src="__ROOT__/Public/images/placeholder.jpg">
                            <img alt="" class="translate" src="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg">
                        </a>
                        <div class="design-info">
                            <a href="http://47.92.133.126/">别致流金岁月</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="hover" href="http://47.92.133.126/" rel="nofollow">
                            <img class="lazy" data-lazyload="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg"
                                    src="__ROOT__/Public/images/placeholder.jpg">
                            <img alt="" class="translate" src="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg">
                        </a>
                        <div class="design-info">
                            <a href="http://47.92.133.126/">别致流金岁月</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="hover" href="http://47.92.133.126/" rel="nofollow">
                            <img class="lazy" data-lazyload="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg"
                                    src="__ROOT__/Public/images/placeholder.jpg">
                            <img alt="" class="translate" src="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg">
                        </a>
                        <div class="design-info">
                            <a href="http://47.92.133.126/">别致流金岁月</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="hover" href="http://47.92.133.126/" rel="nofollow">
                            <img class="lazy" data-lazyload="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg"
                                    src="__ROOT__/Public/images/placeholder.jpg">
                            <img alt="" class="translate" src="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg">
                        </a>
                        <div class="design-info">
                            <a href="http://47.92.133.126/">别致流金岁月</a>
                        </div>
                    </li>
                    <li class="item">
                        <a class="hover" href="http://47.92.133.126/" rel="nofollow">
                            <img class="lazy" data-lazyload="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg"
                                    src="__ROOT__/Public/images/placeholder.jpg">
                            <img alt="" class="translate" src="http://img.fuwo.com/ifuwo/1709/14/1a4ea51e993811e7adbf00163e1284d1.jpg@!300x225.jpg">
                        </a>
                        <div class="design-info">
                            <a href="http://47.92.133.126/">别致流金岁月</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>

<footer>
    <div class="container-fluid foot-middle">
        <div class="container">
            <div class="foot-four foot-middle-left">
                <h4>爱福窝 让装修变简单</h4>
                <a href="http://47.92.133.126/" target="_blank">关于我们</a>|
                <a href="http://47.92.133.126/" target="_blank">媒体报道</a>|
                <a href="http://47.92.133.126/" target="_blank">商务合作</a>|
                <a href="http://47.92.133.126/" target="_blank">法律声明</a>|
                <a href="http://47.92.133.126/" target="_blank">联系我们</a><br>
                反馈建议：<a href="mailto:wangyalei912@126.com">wangyalei912@126.com</a><br>
                客服电话：13126562961
            </div>

            <div class="foot-four foot-middle-middle">
                <h4>热门标签</h4>
                <a href="http://47.92.133.126/">客厅背景墙</a>
                <a href="http://47.92.133.126/">装修设计</a>
                <a href="http://47.92.133.126/">交换空间</a>
                <a href="http://47.92.133.126/">小户型装修</a>
                <a href="http://47.92.133.126/">新房装修</a>
                <a href="http://47.92.133.126/">家居咨询</a>
                <a href="http://47.92.133.126/">装修问答</a>
                <a href="http://47.92.133.126/">装修问答</a>
            </div>

            <div class="foot-middle-right">
                <img class="margin-left-4" src="index_files/appdownload.png"><br>
                扫码下载爱福窝装修app
            </div>
        </div>
    </div>

    <div class="container-fluid foot-bottom">
        <div class="container">
            <div class="link js-footer-link">
                <em class="link-label">合作网站:</em>
                <span><a href="http://47.92.133.126/" target="_blank">手机版</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">装修设计</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">土巴兔设计网</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">法律咨询</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">家居市场</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">海鲜市场</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">大排档市场</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">绿色市场</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">秋天颜色</a> |&nbsp;</span>
                <span><a href="http://47.92.133.126/" target="_blank">缓缓名本</a> |&nbsp;</span>
            </div>
        </div>
    </div>
</footer>
<!--<script data-main="http://static.fuwo.com/fuwo/js/new/pfuwo/newhome.js?v=0063v06"-->
<!--src="index_files/require.js"></script>-->

<script>
    $(function(){
        $(document).time_Scroll();
    });
</script>
</body>
</html>