<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta content="IE=edge,Chrome=1" http-equiv="X-UA-Compatible">
    <meta content="webkit" name="renderer">
    <title>馨家装饰</title>
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/base.css">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/newhome.css">
    <script type="text/javascript" src="__ROOT__/Public/js/jquery.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/banner.js"></script>
</head>
<body>
<include file="header"/>
<?php
        define("URL_BASE", "http://localhost/newhome");
          $imageUrlBase = URL_BASE . "/Uploads/";
?>
<div class="empty-box"></div>
<div class="" id="section">
    <div class="gray-bg">
        <div class="banner swiper-container-horizontal" id="banner">
            <ul class="swiper-wrapper">
                <foreach name="bannerList" item="item">
                    <li class="swiper-slide">
                        <a href="{$item.link_url}">
                            <img src="<?php echo($imageUrlBase);?>{$item.image_url}">
                        </a>
                    </li>
                </foreach>
            </ul>
            <ul class="bottom_button">
                <?php
                    $size = sizeof($bannerList);
                    if($size != 1){

                    for($i = 0; $i < $size; $i++){
                        if($i == 0){
                ?>
                            <li class="now"></li>
                <?php
                        }else{
                ?>
                            <li></li>
                <?php
                        }
                    }
                    }
                ?>
            </ul>
        </div>
        <div class="compute-price-con">
            <p class="compute-price-title">免费装修报价<span>今日已为88人提供服务</span></p>
            <form id="compute-price-form" novalidate="novalidate">
                <div class="form-item">
                    <select class="select-box province-select" id="invite-province-select" name="provinceId">
                        <option value="">省/市</option>
                        <option value="10" name="安徽">A 安徽</option>
                        <option value="12" name="北京">B 北京</option>
                        <option value="13" name="重庆">C 重庆</option>
                        <option value="14" name="福建">F 福建</option>
                        <option value="17" name="广西">G 广西</option>
                        <option value="18" name="贵州">G 贵州</option>
                        <option value="16" name="广东">G 广东</option>
                    </select>
                </div>
                <div class="form-item">
                    <select class="select-box city-select" id="invite-city-select" name="cityId">
                        <option value="">市/郊区</option>
                    </select>
                </div>
                <div class="form-item area-size" style="position: relative;">
                    <input class="input-size" name="size" placeholder="建筑面积" type="text">
                    <em class="pingfang" style="position: absolute;right: 5px;top: 8px;color: #666;">m2</em>
                </div>
                <div class="form-item phone-num"><input class="input-phone" name="mobile" placeholder="输入手机号，获取报价结果" type="text"></div>
                <a class="btn compute-btn" href="javascripte:;">计算</a>
            </form>
        </div>
    </div>
    <div class="design-works-container">
        <div class="find-zhuangxiu-con">
            <p class="findZX-title">专业设计师免费设计</p>
            <p class="findZX-info">5大标准，层层筛选，五万业主口碑推荐</p>
            <div class="findZX-company">
                <ul class="company-list">
                    <li class="company-item">
                        <a class="company-link" href="http://47.92.133.126/">
                            <img class="company-img" src="__ROOT__/Public/images/shiyue2.jpg">
                            <div class="company-logo">
                                <img src="__ROOT__/Public/images/company-logo.jpg">
                            </div>
                            <div class="company-info">
                                <div class="company-name">石悦设计装饰</div>
                                <div class="company-performance">案例 1200套 1111评价</div>
                                <a class="link-design J-Pop-Order" data-listid="" data-pageid="150001" href="javascript:;">预约免费设计</a>
                            </div>
                        </a>
                    </li>
                    <li class="company-item">
                        <a class="company-link" href="http://47.92.133.126/">
                            <img class="company-img" src="__ROOT__/Public/images/shiyue2.jpg">
                            <div class="company-logo">
                                <img src="__ROOT__/Public/images/company-logo.jpg">
                            </div>
                            <div class="company-info">
                                <div class="company-name">石悦设计装饰</div>
                                <div class="company-performance">案例 1200套 1111评价</div>
                                <a class="link-design J-Pop-Order" data-listid="" data-pageid="150001" href="javascript:;">预约免费设计</a>
                            </div>
                        </a>
                    </li>
                    <li class="company-item">
                        <a class="company-link" href="http://47.92.133.126/">
                            <img class="company-img" src="__ROOT__/Public/images/shiyue2.jpg">
                            <div class="company-logo">
                                <img src="__ROOT__/Public/images/company-logo.jpg">
                            </div>
                            <div class="company-info">
                                <div class="company-name">石悦设计装饰</div>
                                <div class="company-performance">案例 1200套 1111评价</div>
                                <a class="link-design J-Pop-Order" data-listid="" data-pageid="150001" href="javascript:;">预约免费设计</a>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="decoration-company">
            <div class="decoration-company-container">
                <h3>热门装修公司</h3>
                <div class="company-logo-list">
                    <ul>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="http://47.92.133.126/">
                                <img src="http://img.fuwo.com/attachment/1709/29/3a52a7dea4e111e7907700163e0c3546.jpg@!200x200.jpg">
                                <div class="company-name"><span>重庆石悦装饰有限公司</span></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="grey-bg">
        <div class="server-step">
            <p class="server-title">服务流程</p>
            <img class="server-step-img" src="__ROOT__/Public/images/server-step.png">
        </div>
    </div>
    <div class="image-library-container">
        <p class="view-title">海量装修效果</p>
        <p class="view-info">户型风格自由搭配 90%业主的选择</p>
        <ul class="view-nav">
            <li class="view-nav-li">
                <a href="http://47.92.133.126/">简欧</a>
            </li>
            <li class="view-nav-li">
                <a href="http://47.92.133.126/">美式</a>
            </li>
            <li class="view-nav-li">
                <a href="http://47.92.133.126/">北欧</a>
            </li>
            <li class="view-nav-li">
                <a href="http://47.92.133.126/">现代</a>
            </li>
            <li class="view-nav-li">
            <li class="view-nav-li view-nav-margin0"><a href="http://www.fuwo.com/">全部美图</a></li>
            </li>
        </ul>
        <div class="view-item">
            <ul class="view-list">

                <foreach name="imageLibraryList" item="item">
                    <li class="item">
                        <a class="hover" href="http://47.92.133.126/" rel="nofollow">
                            <?php
                                    $imageJson = $item['image_list'];
                                    $imageArr = json_decode($imageJson);
                                    $imageUrl = $imageUrlBase . $imageArr[0];
                                ?>
                            <img alt="" class="translate" src="<?php echo($imageUrl);?>">
                            <div class="design-info">
                                <p>{$item.name}</p>
                            </div>
                        </a>
                    </li>
                </foreach>
            </ul>
        </div>
    </div>
</div>
<include file="footer"/>
<!--<script data-main="http://static.fuwo.com/fuwo/js/new/pfuwo/newhome.js?v=0063v06"-->
<!--src="index_files/require.js"></script>-->

<script>
    $(function(){
        $(document).time_Scroll();
    });
</script>
</body>
</html>